@forward "./reset.scss";

:root {
  --color-main:        #6b9cea;
  --color-main-hover:  #5a8bd6;
  --color-accent:      #222222;
  --color-bg:          #28292f;
  --color-black:       #222222;
  --color-text:        #eaeaea;
  --color-white:       #FFFFFF;
  --color-light-grey:  #c2c2c2;
  --color-grey:        #a0a0a0;
  --color-dark-grey:   #4d4d4d;
  --color-red-light:   #FF7174;
  --color-orange:      #F5AC00;
  --color-green:       #02A705;
  --color-green-hover: #029104;
  --color-red:         #CE4233;
  --color-red-hover:   #b03525;
}

h1 {
  font-size: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #2e3038 0%, #33343b 50%, #363742 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: calc(-1 * (100vw - 100%));
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 400;

  @media (max-width: 1300px) {
    padding-bottom: 50px;
  }
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.block {
  background-color: var(--color-accent);
  border: 1px solid rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 12px;
}

.title {
  font-size: 1.5rem;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}
